<div class="wrap-toastr">
  <div class="wrap-toatrs-icon">
    <i class="fal fa-axe-battle"></i>
  </div>
  <div>
    <div  class="header-text">
      {{!!textHeader? textHeader:''}}
    </div>
    <div>
      <div>
        {{!!textContentNotify? textContentNotify: ''}}
      </div>
      <div class="wrap-btn-option">
        <div (click)="acceptCompetition()" class="btn-competition btn-accept">accept</div>
        <div (click)="refuseCompetition()" class="btn-competition btn-refuse">refuse</div>
      </div>
    </div>
  </div>
</div>
