
::ng-deep app-course-card {
  .space{
    padding-top: 100px;
  }
  .learn-word {
    margin-top: 25px;
    display: flex;
    padding: 15px;
    border-radius: 7px;
    -webkit-box-shadow: 3px -1px 15px -5px rgba(3,5,20,0.34);
    box-shadow: 3px -1px 15px -5px rgba(3,5,20,0.34);
    .user-info .avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      .user-avatar {
        object-fit: cover;
        vertical-align: middle;
        background-color: darkgray;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }

    .learn-target {
      padding-left: 10px;
      width: 100%;

      .title {
        font-weight: bold;
        font-size: 18px;
      }

      .progress .progress-target {
        width: 100%;
      }

      .target-button {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        text-align: center;

        .target {
          background-color: #e6f7ff;
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 7px;
          cursor: pointer;

          .highlight {
            color: #0085ff;
            font-weight: bold;
          }
          &.frequency {
          }
          &.continuity {
          }
        }
      }
    }
  }
}

::ng-deep #progress-bar-status {
  display: inline-block;
}

::ng-deep .complete .dx-progressbar-range {
  background-color: green;
}
::ng-deep #modalTarget .grid-column-110px-1fr{
  display: grid;
  grid-template-columns: 120px 1fr;
}
