
<div class="ranking__wrap">
  <div class="space-height-rank" style="height: 71px" ></div>
  <div class="ranking-table mt-2">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Full name</th>
        <th scope="col">Score</th>
      </tr>
      </thead>
      <tbody>
      <ng-container  *ngIf="members.length > 0">
        <tr *ngFor="let member of members; let index = index">
          <th scope="row" class="text-center">{{index+1}}</th>
          <td>{{member.userName}}</td>
          <td>{{member.score}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
