::ng-deep app-rank {
  .ranking__wrap {
    border-radius: 7px;
    border: none;
    .title {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: black;
    }
    .ranking-table {
      overflow: auto;
      max-height: 400px;
      box-shadow: 3px -1px 15px -5px rgb(3 5 20 / 34%);
      .table {
        position: relative;
        & > thead th {
          position: sticky;
          top: -1px;
        }
      }
    }
  }
}
