<div class="navbar-wrap">
  <!--    header-->
  <div class="navbar-header">
    <div class="brand-wrapper">
      <div class="navbar-heading text-muted">
        <a routerLink="/" class="navbar-brand">Admin</a>
      </div>
    </div>
  </div>
  <!-- Main Menu -->
  <div class="side-menu-container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="course" routerLinkActive="active">
          <i class="fas fa-graduation-cap icon_color__course pr-2"></i> Manager course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user" routerLinkActive="active">
          <i class="fas fa-users icon_color__user pr-2"></i> Manager users</a>
      </li>
      <!--fake-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-bullseye-pointer icon_color__score pr-2"></i> Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="far fa-cart-arrow-down icon_color__sale pr-2"></i> Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="fal fa-chart-line icon_color__chart pr-2"></i> Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="far fa-sign-out-alt icon_color__logout pr-2"></i> Log out</a>
      </li>
    </ul>
    <hr>
    <h6 class="navbar-heading text-muted">Documentation</h6>
    <!-- Navigation -->
    <ul class="navbar-nav mb-md-3">
      <li class="nav-item">
        <i class="far fa-rocket pr-2"></i> Getting started
      </li>
      <li class="nav-item">
        <i class="far fa-palette pr-2"></i> Foundation
      </li>
    </ul>
  </div>
</div>
