.wrap-default-type {
  font-family: 'Itim', cursive;
  padding-left: 37px;
  padding-top: 40px;

  .btn-next {
    float: right;
    margin-top: 25px;
    padding: 16px;

    i {
      margin-left: 8px
    }
  }

  .des-word {
    color: rgb(112, 116, 126);
  }

  .btn-translate-word {
    background-color: #d4d3d3;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
    border-radius: 10px;
    color: #616161;
  }

  .api-transcription {

  }

  .word-name {
    line-height: 49px;
    font-size: 32px;
    font-weight: 500;
  }

  .word-define {
    font-weight: 400;
    font-size: 22px;
  }

  .wrap-attribute {
    display: flex;

    &-item {
      line-height: 9px;
      background: #ccdcec;
      border-radius: 11px;
      font-weight: 600;
      padding: 10px 20px;
    }
  }

  .btn-sound {
    margin-left: 30px;
    font-size: 26px;
    padding: 0px 16px;
    border: none;
    border-radius: 10px;
    background-color: #79adaf;

    &:focus {
      outline: none;
    }

    &:hover {
      -webkit-box-shadow: 1px 1px 15px 0px rgba(11, 224, 255, 0.43);
      box-shadow: 1px 1px 15px 0px rgba(11, 224, 255, 0.43);
    }

  }

}
