::ng-deep app-class {
  .space {
    padding-top: 100px;
  }

  .container-fluid .class-page__container {
    display: grid;
    grid-template-columns: 20% 1fr 25%;
    gap: 10px;
    height: calc(100vh - 100px);

    .manager-member {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .ranking{
        flex: 40%;
      }
      .member{
        flex: 50%;
      }
    }
  }
}
