<div class="space"></div>
<div class="container-fluid">
  <div class="class-page__container">
    <div class="manager-member">
      <div class="ranking bg-primary ">
        <app-ranking></app-ranking>
      </div>
      <div class="member bg-primary ">
        <app-member></app-member>
      </div>
    </div>
    <div class="bg-secondary exercise">
      <app-exercise></app-exercise>
    </div>
    <div class="bg-success status-member">
      <app-status-members></app-status-members>
    </div>
  </div>
</div>
