<div class="wrap-practice-word">
  <div class="space-top"></div>
  <div class="container">
    <div class="wrap-progress">
      <progress-bar class="progress-score" [progress]="progressNumber" [color]="'#488aff'">
      </progress-bar>
<!--      <div class="item-score">-->
<!--        {{currentScore}}-->
<!--      </div>-->
    </div>
    <div>
      <ng-container *ngIf="typeIconClick == iconType.dontKnow ">
        <button class="btn btn-check" *ngIf="option !== options.defaultOption" (click)="moveToDefaultOption()">
          <div>
            <i class="fad fa-question-circle"></i>
            <div>I don't know</div>
          </div>
        </button>
      </ng-container>
      <div  class="correct-icon" *ngIf="typeIconClick == iconType.correct">
        <i class="far fa-check-circle"></i>
        <div>Correct</div>
      </div>
      <div class="incorrect-icon" *ngIf="typeIconClick == iconType.inCorrect">
        <i class="far fa-times-circle"></i>
        <div>Incorrect</div>
      </div>
      <button  class="btn btn-check btn-check-next" *ngIf="option === options.defaultOption"
              (click)="handleNextOption()">
        <i class="fas fa-arrow-alt-circle-right"></i>
        <div class="text-click-next">Next</div>
      </button>

    </div>
    <div *ngIf="!!wordItem" [ngSwitch]="option">
      <app-input-word-type (callBackInputNextWordHandel)="callBackNextWordHandel()"
                           [(optionInputWord)] = "option"
                           *ngSwitchCase="options.inputOption"
                           [wordInput]="wordItem">

      </app-input-word-type>
      <app-default-word-type *ngSwitchCase="options.defaultOption"
                             [wordDefault]="wordItem">

      </app-default-word-type>
      <app-choose-word-type (callBackChooseNextWordHandel)="callBackNextWordHandel()"
                            *ngSwitchCase="options.ChooseOption"
                            [(isCorrect)] ="typeIconClick"
                            [(optionChooseWord)] = "option" [word]="wordItem"
                            [wordList]="wordRandom">
      </app-choose-word-type>
    </div>


  </div>
</div>
<!-- The Modal -->
<div *ngIf="isShowModal" class="modal-cus">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Completed topic</h2>
      <span (click)="backToTopic()" class="close">&times;</span>
    </div>
    <div class="modal-body">
      <div class="d-flex" style="height: 100%">
        <i class="fas fa-check-circle icon-complete-topic"></i>
      </div>
    </div>
    <div class="modal-footer">
     <button (click)="continueLean()" class="btn-continue-learn btn">Continue <i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
>
