<div class="wrap-practice-word">
  <div class="container">
    <div class="wrap-progress">
      <progress-bar class="progress-score" [progress]="80" [color]="'#488aff'">
      </progress-bar>
      <div class="item-score">
        {{currentScore}}
      </div>
    </div>
    <div>
      <button class="btn btn-check" *ngIf="option !== options.defaultOption" (click)="moveToDefaultOption()">
        <i class="fad fa-question-circle"></i>
        <div>I don't know</div>
      </button>
      <button class="btn btn-check btn-check-next" *ngIf="option === options.defaultOption"
              (click)="handleNextOption()">
        <i class="fas fa-arrow-alt-circle-right"></i>
        <div class="text-click-next">Next</div>
      </button>

    </div>
    <div *ngIf="!!wordItem" [ngSwitch]="option">
      <app-input-word-type (callBackInputNextWordHandel)="callBackNextWordHandel()"
                           [(optionInputWord)] = "option"
                           *ngSwitchCase="options.inputOption"
                           [wordInput]="wordItem">

      </app-input-word-type>
      <app-default-word-type *ngSwitchCase="options.defaultOption"
                             [wordDefault]="wordItem">

      </app-default-word-type>
      <app-choose-word-type (callBackChooseNextWordHandel)="callBackNextWordHandel()"
                            *ngSwitchCase="options.ChooseOption"
                            [(optionChooseWord)] = "option" [word]="wordItem"
                            [wordList]="wordRandom">
      </app-choose-word-type>
    </div>


  </div>
</div>
