<div class="wrap-practice-word">
  <div class="container">
    <div class="space-top">
    </div>
    <div class="wrap-progress">
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="item-score">
        0
      </div>
    </div>
    <div>
      <button class="btn btn-check" *ngIf="option !== options.defaultOption" (click)="moveToDefaultOption()">
        <i class="fad fa-question-circle"></i>
        <div>Tôi không biết</div>
      </button>
      <button class="btn btn-check btn-check-next" *ngIf="option === options.defaultOption"
              (click)="handleNextOption()">
        <i class="fas fa-arrow-alt-circle-right"></i>
        <div class="text-click-next">Tiếp</div>
      </button>

    </div>
    <div [ngSwitch]="option">
      <app-input-word-type *ngSwitchCase="options.inputOption"></app-input-word-type>
      <app-default-word-type *ngSwitchCase="options.defaultOption"></app-default-word-type>
      <app-choose-word-type *ngSwitchCase="options.ChooseOption"></app-choose-word-type>
    </div>


  </div>
</div>
