.wrap-practice-word {
  .space-top{
    padding-top: 40px;
  }
  .btn-check {
    float: right;
    margin-top: 50px;
    background-color: #79adaf;
    font-weight: 500;

    i {
      font-size: 39px;
      color: #ffffff;
    }
  }

  .btn-check-next {
    padding: 10px 25px;
    .text-click-next {
      line-height: 36px;
      font-size: 17PX;
    }
    i{
      padding-top: 6px;
    }
    .next-click {
      font-size: 40px;
      margin-left: 10px;
      color: black;

    }
  }
}
.correct-icon{
  float: right;
  padding: 17px;
  margin-top: 50px;
  align-items: center;
  border-radius: 13px;
  font-weight: 500;
  background-color: #48b360 !important;
  color: #212529 !important;
  i {
    margin-left: 7px;
    font-size: 39px;
    color: #000000;
  }
}
.wrap-progress {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &::ng-deep .progress-score {
    width: 100%;

    .progress-outer {
      .progress-inner {
        min-width: 5%;
        background-color: #0e879a !important;
        min-height: 35px !important;
        line-height: 35px !important;
      }
    }
  }

  .item-score {
    background: antiquewhite;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    line-height: 47px;
    padding: 0px 28px;
  }
}
