::ng-deep app-status-members {
  .status-member__wrap .status-member__content {
    .status-member__table {
      overflow: auto;
      max-height: calc(100vh - 150px);

      .table {
        position: relative;

        & > thead th {
          position: sticky;
          top: -1px;
        }
      }
    }
  }
}
