::ng-deep app-ranking{
  .wrap-ranking{
    border: 1px solid gray;
    border-radius: 7px;
    height: 100%;

    .title{
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: black;
    }

    .ranking-table{
      overflow: auto;
      max-height: 330px;
      //max-height: 100%;
    }
  }
}
