<div class="ranking__wrap">
  <div class="title">
    Ranking
  </div>
  <div class="ranking-table mt-2">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Rnk</th>
        <th scope="col">Full name</th>
        <th scope="col">Score</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of members">
        <th scope="row" class="text-center">{{member.rank}}</th>
        <td>{{member.fullName}}</td>
        <td>{{member.score}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

