<div class="wrap-topic">
  <div class="space-height"></div>
  <div class="card-header-topic">
    <div class="course-name">{{course?.course.courseName}}</div>
    <div class="progress-topics-score"><span class="score-achieved">{{course.wordLearned}}</span>/<span style="font-weight: bold"> {{course.totalWord}}</span>
      <span> words learned</span>
    </div>
    <div class="mb-4">
      <progress-bar class="progress-topics" [progress]="progress">
      </progress-bar>
    </div>
    <div class="d-flex">
      <div class="review-word">
        Review<span>({{course.wordLearned}})</span>
        <i class="ml-2 fas fa-wand-magic"></i>
      </div>
        <div class=" ml-4 review-word">
          Speech review
          <i class="far fa-clock"></i>
        </div>
    </div>
  </div>
  <div class="wrap-topic-container">
    <div (click)="goToListWord(topic.topic.id)" *ngFor="let topic of topics; let indexNumber = index">
      <div class="wrap-topic-item ">
        <div [ngClass]="topic.status?'topic-bg-success':''" class="inner-topic-container">
          <div class="wrap-number-topic">
            <div class="wrap-number-topic-item">{{indexNumber+1}}</div>
          </div>
          <div *ngIf="!topic.status ; else isComplete" class="topic-item-icon">
            <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:60px"></i>
          </div>
          <ng-template #isComplete>
            <i class="fas fa-flower-daffodil topic-icon-success"></i>
            <i class="fas fa-check topic-icon-check" aria-hidden="true" style="font-size:30px"></i>
          </ng-template>
          <div [ngClass]="topic.status?'topic-item-name-success':''" class="topic-item-name">{{topic.topic.topicName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
