.wrap-topic {
  background-color: #fcfcfc;
  .space-topic{
    margin: 40px auto 100px auto;
  }
  &-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    column-gap: 40px;
    row-gap: 15px;
    justify-content: center;

  }
  &-item {
    margin-top: 20px;
    cursor: pointer;
    height: 250px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color:#FFFFFF;
    box-shadow: -2px 6px 11px -4px rgb(0 0 0 / 43%);
    .inner-topic-container{
      height: 100%;
      border-radius:10px;
      background-color: #cacaca;
      .wrap-number-topic{
        display: flex;
       &-item{
         margin: 0 auto;
         padding: 0px 10px;
         background-color: #FFFFFF;
       }
      }
     .topic-item-icon{

      }
      .topic-item-name{

      }
    }

  }

}
