<div class="wrap-topic">
  <div class="wrap-topic-container">
    <div (click)="goToListWord(topic.id)" *ngFor="let topic of topics; let indexNumber = index">
      <div class="wrap-topic-item ">
        <div class="inner-topic-container">
          <div class="wrap-number-topic">
            <div class="wrap-number-topic-item">{{indexNumber}}</div>
          </div>
            <div class="topic-item-icon" >
              <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:60px"></i>
            </div>

          <!--        <div>-->
          <!--          <i class="far fa-check-circle" aria-hidden="true" style="font-size:50px"></i>-->
          <!--        </div>-->
          <div class="topic-item-name">{{topic.topicName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
