<!-- The Modal -->
<div *ngIf="isOpenTopic" class="modal-cus">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Add new topic</h2>
      <span (click)="backToTopic()" class="close">&times;</span>
    </div>
    <div class="wrap-file-choose">
      <p>You can import file excel </p>
      <input type="file" id="input" (change)="excelRead($event)" />
      <h5 class="mt-2">Topic Name</h5>
      <div class="d-flex">
        <input (change)="changeNameTopic($event)" type="text" placeholder="input topic name">
        <button class="btn btn-warning ml-3" (click)="onHandelFillWord()">Autofill</button>
      </div>
    </div>

    <div class="modal-body">
      <div class="d-flex table-wrapper-scroll-y my-custom-scrollbar" style="height: 100%">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">order</th>
            <th scope="col">word</th>
            <th scope="col">type</th>
            <th scope="col">define</th>
            <th scope="col">example</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor ="let wordItem of wordRecord; let id = index">
            <th scope="row" class="d-flex">{{id+1}}
              <button class="btn btn-danger ml-2" (click)="onRemoveCord($event, id)">
                <i class="fas fa-minus-circle"></i>
              </button>
            </th>
            <td *ngIf="wordItem.wordEng; else wordTempl">{{wordItem.wordEng}}</td>
            <ng-template  #wordTempl>
              <td>
                <input (change)="saveWord($event, id)">
              </td>
            </ng-template>
            <td *ngIf="wordItem.wordType; else typeTempl">{{wordItem.wordType}}</td>
            <ng-template  #typeTempl>
              <td><input (change)="saveWordType($event, id)"></td>
            </ng-template>
            <td *ngIf="wordItem.define; else  defineTempl">{{wordItem.define}}</td>
            <ng-template  #defineTempl>
              <td><input style="width: 100%" (change)="saveDefine($event, id)"></td>
            </ng-template>
            <td *ngIf="wordItem.example; else  exampleTempl" >{{wordItem.example}}</td>
            <ng-template  #exampleTempl>
              <td><input style="width: 100%" (change)="saveExample($event, id)"></td>
            </ng-template>
          </tr>
          <button (click)="onHandelAddWord()" class="btn btn-primary btn-add-cord"><i class="fas fa-plus-circle"></i></button>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">

      <button (click)="onHandelSaveTopic()" class="btn btn-success">Add topic </button>
    </div>
  </div>
  <ng-template #customNotification let-notificationData="notification">
    <my-custom-alert type="notificationData.type"> {{ notificationData.message }} </my-custom-alert>
  </ng-template>
</div>
<dx-load-panel *ngIf="isWaitLoad"
               [visible]="true"
               shadingColor="#ffffffcc"
               [showIndicator]="true"
               [shading]="false"
               [showPane]="false">
</dx-load-panel>
