.navbar-header {
  width: 80%;
  display: flex;
  margin: 0 auto;
  .logo-brand {
    border-radius: 50% !important;
  }
  .wrap-header-user{
    height: 35px;
    align-items: center;
    background: white;
    border-radius: 50% 50%;
    width: 35px;
    text-align: center;
    line-height: 36px;
  }
}
.navbar{
  position: fixed;
  z-index: 12;
  width: 100%;
}
.bg-dark {
  background-color: #173554!important;
}
