.navbar-header {
  width: 80%;
  display: flex;
  margin: 0 auto;
  .logo-brand {
    border-radius: 50% !important;
  }
}
.navbar{
  position: fixed;
  z-index: 12;
  width: 100%;
}
.bg-dark {
  background-color: #173554!important;
}
