<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDih4z_2tLAirk5KrfarHOeeQ4KKtF7QrzxgAKwfOuasIaKyF48LxmNLAEXpR8dZRP3Jg&usqp=CAU" width="30" height="30" class="logo-brand d-inline-block align-top" alt="">
      English Training
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="nav-item  nav-link" routerLink="/explore">Explore</a>
        <a class="nav-item  nav-link" routerLink="/course">My courses</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>

      </ul>
    </div>
    <div class="nav-item dropdown d-flex">
      <div class="wrap-header-user">
        <i style="color: #929292" class="fas fa-user"></i>
      </div>
      <span style="padding-left: 5px;
    color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </span>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a *ngIf="user" class="nav-item nav-link" (click)="logout()">Logout</a>
        <a *ngIf="!user" class="nav-item nav-link" (click)="logout()">Login</a>
      </div>
    </div>
  </div>
</nav>
