.choose-word{
  font-family: 'Itim', cursive;
  .count-down-number{
  text-align: center;
    margin: 50px 20px 20px 20px;
    span{
      font-size: 40px;
      padding: 10px 40px;
      background-color: #FFC312;
      border-radius: 10px;
    }
  }
  .current-index{
   text-align: center;
  }
}
