<div class="choose-word container">
    <div class="count-down-number"><span>{{this.countDown}}</span></div>
  <div class="current-index">{{this.currentIndex}} / {{this.totalNumberWord}}</div>
  <ng-container *ngIf="word">
    <app-choose-word-type
      [word]="word"
      (callBackChooseNextWordHandel)="callBackNextWordHandel()">
    </app-choose-word-type>
  </ng-container>

</div>
<app-complete-review-model [scored]="answerCorrect" [totalNumberWord] = "totalNumberWord" [(isOpenTopic)]="isOpenTopic"></app-complete-review-model>
