<div *ngIf="randomWordList.length > 1" class="choose-word">
  <div class="label-suggest">Choose the correct word</div>
  <div class="wrap-word-name">
    <div class="wrap-word-name-item">
      {{word.define}}
    </div>
  </div>
  <div class="wrap-word-type">
    <div class="wrap-word-type-item">{{word.wordType}}</div>
  </div>
  <div>
    <div  class="wrap-word">
      <div id="answer-{{i}}" class="word-item" (click)="chooseWord($event)" *ngFor="let word of randomWordList; let i = index">
        {{word.wordEng}}
      </div>
    </div>
  </div>
</div>
