<div class="wrap-input-word">
  <div class="des-word">Type Exactly</div>
  <div class="wrap-word">
    <div class="wrap-word-mean">{{wordMean | titlecase}}</div>
  </div>
  <div class="wrap-word-type">
    <div class="wrap-word-type-item">{{wordInput.wordType}}</div>
  </div>
  <div>
    <div class="wrap-input">
      <input (keyup.enter)="enterToCheck()" type="text" #reset (ngModelChange)="correctWord($event, reset)" [(ngModel)] = 'valWord' />
    </div>
    <div class="d-flex wrap-alphabet mt-4">
      <div class="alphabet mt-3" (click)="chooseWord($event, reset)" *ngFor="let alphabet of wordChosen">{{alphabet}}</div>
    </div>
  </div>
</div>
