.wrap-lesson {
  padding-top: 30px;

  .progress-box {
    justify-content: space-between;
    .progress-cus {
      width: 100%;
      margin: 0 auto;
    }

    border-radius: 10px;
    padding: 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 38%);
  }

  .btn-learn {
    margin-top: 20px;
    margin-left: 16px;
  }
  .btn-warning{
    background-color: #ffc10896;
    border-color: #ffc10896;
  }
  .title-lesson {
    font-weight: 600;
    font-size: 24px;
    margin-left: 16px;
  }

  .title-level {
    font-size: 18px;
    margin-left: 16px;
    color: #b1b1b1;
  }

  .word-line {
    margin-top: 10px;
    display: flex;
    padding-bottom: 5px;
    margin-left: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ffedb9;

    &-left {
      font-weight: 500;
    }
  }
  height: 100vh;
}


.btn-next {

  i {
   font-size: 50px;
    color: #15aabf;
  }

  span {
    font-weight: 500;
  }
}
