<div class="wrap-lesson ">
  <div class="container">
    <div class="progress-box d-flex">
      <button *ngIf="levelParam > 1" class="btn  btn-warning btn-next" (click)="backToPrevious()">
        <div>
          <div><i class="fas fa-chevron-circle-left"></i></div>
          <div  style="font-weight: 500" >Back</div>
      </div>
      </button>
      <div class="progress-cus">
        <div>
          <div class="title-lesson">{{topicName}}</div>
          <progress-bar [progress]="0" [color]="'#488aff'">
          </progress-bar>
        </div>
        <button (click)="learnWord($event)" type="button" class="btn btn-success btn-learn">Learn these words</button>
      </div>
      <button (click)="goToNextPage()" class="btn btn-warning btn-next">
        <div>
          <div><i class="fas fa-chevron-circle-right"></i></div>
          <div style="font-weight: 500" >Next</div>
        </div>
      </button>
    </div>
    <div class="mt-5">
      <div style="cursor: pointer" (click)="onPlayAudio(word.audioUrl)" *ngFor="let word of words">
        <div class="word-line">
          <div class="word-line-item word-item">
            {{word.wordEng}}
          </div>
          <div class="word-line-item ipa-item">
            {{word.ipa}}
          </div>
          <div class="word-line-item ex-item">
            <span (click)="TranslateDefineWord(word.define)" class="mr-2"><i class="far fa-language"></i></span>
           <span>{{isTranslate? defineTranslate : word.define}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="space-height"></div>
  </div>

</div>
