<div class="course-admin">
  <div class="title">
    <h2>Manager Courses</h2>
  </div>
  <div class="content">
    <div class="table">
      <dx-data-grid id="gridContainer"
                    [dataSource]="dataSource"
                    [showBorders]="true"
                    [remoteOperations]="false"
                    mode="row">
        <dxo-editing
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          mode="row"> <!-- 'batch' | 'cell' | 'form' | 'popup' -->
        </dxo-editing>
        <dxi-column dataField="id" width="75"></dxi-column>
        <dxi-column dataField="code"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>

