<div class="course-admin">
  <div class="title">
    <h2>Manager Courses</h2>
  </div>
  <div class="content">
    <div class="table">
      <dx-data-grid id="gridContainer"
                    [dataSource]="dataSource"
                    [showBorders]="true"
                    [remoteOperations]="false"
                    mode="row">
        <dxo-editing
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          mode="row">
        </dxo-editing>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[5, 10, 15]"
          [showInfo]="true">
        </dxo-pager>
        <dxo-search-panel [visible]="true"></dxo-search-panel>

        <dxi-column dataField="id" width="75" caption="No" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="courseName" caption="Course Name" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="dateCreated" caption="Date created" dataType="date" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="creator" caption="Creator" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="type" cellTemplate="typeCustom" caption="Type" [allowSorting]="false"></dxi-column>
        <div *dxTemplate="let data of 'typeCustom'">
         <span>{{data.value?'public' : 'private'}}</span>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

